*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    border: 2px solid #000;
}
.row{
    border: 2px solid rebeccapurple;
}
.col{
    border: 2px solid red;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}