.offcanvas-body a:hover{
    color: #20CBB8;
    transition: 0.5s;
}
.fa-brands:hover{
    color: #20CBB8;
    transition: 0.5s;
}
.col-12{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}
#j1{
    /* padding-left: 20px;
    position: relative; */
    width: 33%;
    border: 1px solid palegreen;
}

.navbar{
    border: 2px solid blue;
    position: relative;
}
.col{
    /* border: 2px solid purple; */
}
.row{
    /* border: 2px solid green; */
}
.container-fluid{
    /* border: 2px solid purple; */
}
.container{
    border: 10px solid rebeccapurple;
}
.row-1{
    position: relative;
    z-index: 0;
}
.row-2{
    position: absolute;
    top: 83%;
    /* border: 2px solid orchid; */
}
.text{
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
}